html {
    height: 100%;
}

body {
  font-family: "Verdana", Arial, sans-serif;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  display: block;
  line-height: 110%;
  margin-top: 1%;
  margin-bottom: 1%;
}

header {
  background-color: RebeccaPurple;
  color: FloralWhite;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding-top: 2%;
  padding-left: 0%;
  padding-bottom: 2%;
  padding-right: 0%;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
}

footer {
  font-size: 0.6em;
  text-align: center;
  background-color: RebeccaPurple;
  color: FloralWhite;
  padding-top: 1%;
  padding-left: 0%;
  padding-bottom: 1%;
  padding-right: 0%;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  clear: both;
}

nav {
  float: left;
  background-color: MediumPurple;
  padding-top: 1%;
  padding-left: 0%;
  padding-bottom: 1%;
  padding-right: 0%;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  height: 98%;
  width: 20%;
}

nav ul {
  padding-top: 0%;
  padding-left: 0%;
  padding-bottom: 0%;
  padding-right: 0%;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
}

nav li {
  list-style-type: none;
  background-color: RebeccaPurple;
  color: FloralWhite;
  text-align: left;
  font-weight: normal;
  font-size: 0.8em;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}

nav li:hover {
  background: FloralWhite;
  color: RebeccaPurple;
}

nav li a:hover {
  background: FloralWhite;
  color: RebeccaPurple;
}

nav ul a:link {
  color: RebeccaPurple;
  text-decoration: none;
}

.menuTitle {
  background-color: RebeccaPurple;
  color: FloralWhite;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}

.arena {
  background-color: WhiteSmoke;
  border: 10px solid MediumPurple;
  height: 100%;
}

.gameFrame {
  float: left;
  position: relative;
  overflow: hidden;
  height: 98%;
  width: 80%;
  align-content: center;
}

.gameFrame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.gameCanvas {
    text-align: center;
}

.gameTitle {
  text-align: center;
  font-size: 1.5em;
  color: RebeccaPurple;
}

.gameButton {
    background-color: RebeccaPurple;
    border: none;
    color: white;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    cursor: pointer;
}

#mySnakeCanvas {
  background-color: LawnGreen;
  background: url('../img/gras.jpg');
  text-align: center;
  border: 5px solid LawnGreen;
}
